.table-container {
    border: 1px solid lightgray;
    text-align: left;
    width: 85%;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.1),
                 2px 2px 5px rgba(0,0,0,0.1),
                 0 4px 5px rgba(0,0,0,0.2);
    margin: 1em;
    border-radius: 2%;
}
  
.table-container table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(55, 55, 55);
}
  
.table-container th,
.table-container td {
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}
.table-container td {
    color: rgb(105, 105, 105);
}
  
.table-container tr:nth-child(even) {
    background-color: #f0f0f0;
}

.table-container tr:hover {
    background-color: #d8d8d8;
}
  
.table-container td:last-child {
    text-align: right;
}

.table-container a {
    color: rgb(65, 125, 171);
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
.table-container a:hover{
    color: rgb(52, 106, 147);
}

  