@keyframes spinner {
    to {transform: rotate(360deg);}
}
  
.loader-container {
    position: fixed;
    top: 0.5em;
    right: 2em;
}
  
.loader {
    display: inline-block;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinner 2s linear infinite;
}
  